* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin-top: 50px;
}

#searchInput {
    padding: 10px 20px;
    font-size: 16px;
}
  
#ordersContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background-color: white;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
}
  
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
  
.order {
    padding: 20px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
}
  
.order:hover {
    background-color: #eaeaea;
}

.status {
    padding: 5px 10px;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}
  
.status.waiting {
    background-color: rgb(255, 255, 0);
    color: black;
}

.status.ready {
    background-color: rgba(0, 0, 255, 0.683);
}

.status.delivered {
    background-color: rgba(0, 128, 0, 0.79);
}
  
button, select {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    background-color: #33A1FD;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover, select:hover {
    background-color: #2176FF;
}

.remove-btn {
    background-color: #ec4330;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #c0392b;
}
  
.search-sort-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.search-sort-container input,
.search-sort-container select {
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.search-sort-container input {
    width: 70%;
}

.search-sort-container select {
    width: 20%;
}

.search-sort-container input:focus,
.search-sort-container select:focus {
    outline: none;
    border-color: #c1717c;
}
  
.order p {
    margin: 5px 0;
    padding: 5px 0;
}

.order p strong {
    color: #333;
}
  